@tailwind base;
@tailwind components;
@tailwind utilities;
html {
	scroll-behavior: smooth !important;
}

@layer base {
	body {
		@apply bg-[#ecf0f3] text-[#1f2937] tracking-wide min-h-screen;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold;
	}
	h1 {
		@apply text-4xl sm:text-5xl md:text-6xl;
	}
	h1 {
		@apply text-3xl sm:text-4xl;
	}
	li {
		@apply cursor-pointer;
	}
}

@layer components {
	.link {
		@apply block text-sm uppercase text-gray-600 font-bold hover:text-gray-900 transition-colors;
	}

	.navigation-screen {
		@apply static block w-auto p-0 bg-transparent;
	}
	.btn {
		@apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff];
	}
	.social_links {
		@apply w-[2rem] aspect-square flex justify-center items-center  rounded-full shadow-md hover:shadow-lg shadow-gray-400 transition-colors text-blue-700;
	}
	.burger {
		@apply cursor-pointer rounded-full bg-white shadow-gray-400  shadow-md hover:shadow-lg p-2;
	}
	.section {
		@apply container mx-auto py-10 md:py-16;
	}
	.section-name {
		@apply uppercase text-blue-500 text-xl md:text-xl mb-4;
	}
	.section-title {
		@apply text-gray-600 text-3xl md:text-4xl mb-4;
	}
	.scills-item {
		@apply flex justify-between items-center px-16 md:px-6 py-4 rounded-lg  shadow-lg bg-white;
	}
	.scills-item-title {
		@apply tracking-wider text-gray-600 min-w-[80px] text-center;
	}
}
* {
	box-sizing: border-box;
}

.navigation-enter {
	left: -100%;
}
.navigation-enter-active {
	left: 0;
	transition: left 200ms;
}
.navigation-exit {
	left: 0;
	transition: left 200ms;
}
.navigation-exit-active {
	left: -100%;
}
